<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.4.1" targetFramework="xamarinios10" />
  <package id="Autofac" version="3.5.2" targetFramework="xamarinios10" />
  <package id="Behaviors.Forms" version="1.2.0" targetFramework="xamarinios10" />
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.DeviceInfo" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.ExternalMaps" version="4.0.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Vibrate" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.Core" version="60.1142.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="4.0.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudMessaging" version="2.0.4.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="4.0.13" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="2.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.47" targetFramework="xamarinios10" />
</packages>